@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

:root{
    --bg-primary: #272932;
    --bg-secondary: #0F7173;
    --bg-header: #043435;
    --default: #fff;
    --destak: #f38a13;
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Montserrat', sans-serif;
}

body{
    background-color: var(--bg-primary);
    color: var(--default);
    font-family: var(--font-primary);
}

header{
    display: flex;
    flex-direction: row;
    background-color: var(--bg-header);
    padding: 0.6em;
    justify-content: space-between;
    align-items: center;
    border-radius: .5em;
}

nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav li{
    list-style: none;
    padding: .6em;
}

nav a{
    color: var(--default);
    text-decoration: none;
}

.box{
    display: flex;
    flex-direction: column;
    margin: 2em;
    padding: 2em;
    border-radius: .6em;
    background-color: var(--bg-secondary);
}

.box h1{
    text-transform: uppercase;
}

.box span{
    width: 50vw;
}

.box div{
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.box img{
    height: 50vh;
    border-radius: .6em;
}

.button{
    background-color: var(--destak);
    color: var(--default);
    text-decoration: none;
    padding: 1em;
    width: fit-content;
    border-radius: .6em;
    justify-items: center;
}

::selection{
    background-color: var(--destak);
}